:root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
    /* https://lilles.github.io/specs/supported-color-schemes.html */
}
* {
    font-family: Helvetica;
}
.notice {
    color: red;
}